.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:50px;
    width: 100%;
    border: 10px;
   position: fixed;
    
}
.header span {
      color:white;
}
.cart {
   display: flex;
  align-items: flex-end;
}